{% extends 'base.html' %}

{% block title %}О проекте{% endblock %}

{% block body %}
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal text-body-emphasis">О проекте</h1>
    <br>
    <p style="font-size:20px;font-family:Calibri;" class="text-start">
        Добро пожаловать в мир Postirony - уютного уголка в интернете, где каждый может поделиться своими мыслями, идеями и вдохновением. Postirony представляет собой инновационное веб-приложение, созданное для того, чтобы вы могли свободно выражать свои мысли и идеи на любые темы. <br> <br>

        Здесь вы можете создавать увлекательные посты, редактировать их по своему усмотрению и удалять в любое время. Благодаря удобному интерфейсу, вы легко сможете воплотить свои творческие замыслы в жизнь, делая каждую статью уникальной и неповторимой. <br> <br>

        Но это еще не все! Postirony также предоставляет возможность комментирования постов, что позволяет читателям высказывать свое мнение, обсуждать идеи и делиться своими впечатлениями. Это открывает двери для интересных дискуссий и обмена мнениями на самые разнообразные темы. <br> <br>

        Если вас интересует конкретный автор, вы можете читать только его статьи воспользовавшись удобным поиском! Также можно находить конкретные статьи по их названию. Читайте то что вам интересно! <br> <br>

        Так что не стесняйтесь - присоединяйтесь к сообществу Postirony, где каждый пост имеет значение, а каждый комментарий ценится. Давайте вместе делать интернет более ярким и насыщенным! <br> <br>

        *развивается как школьный проект 
    </p>
</div>
{% endblock %}