{% extends 'base.html' %}

{% block title %}О проекте{% endblock %}

{% block body %}
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal text-body-emphasis">О проекте</h1>
    <br>
    <p style="font-size:20px;font-family:Calibri;" class="text-start">
        Postirony - это сайт для быстрого, анонимного и безопасного создания, редактирования, чтения и комментирования статей на самые разные темы. Подобных сайтов довольно много, но почему вы должны выбрать именно наш? Вот несколько причин:<br><br>
        1. <b>Свобода.</b> Вы вольны выкладывать статьи самого разного содержания, никто вас не ограничивае, вы вольны писать о чём угодно<br><br>
        2. <b>Безопасность.</b> Сайт не собирает о вас никакой личной информации и на нём не нужная регистрация. Все ваши личные данные остаются с вами!<br><br>
        3. <b>Анонимность.</b> Так как сайт не берёт никакой личной информации с пользователя, никто никогда не узнает кто опубликовал статью или прокоментировал её.<br><br>
        На сайте также присутствует много функций для более удобного пользования нашего сайта, с которыми вы можете ознакомиться в “Руководстве пользователя”. Также вы можете более подробно узнать о разработчике в соответствующем разделе. Приятного пользования!
    </p>
</div>
{% endblock %}