{% extends 'base.html' %}

{% block title %}Добавление комментария{% endblock %}

{% block body %}
    <b><h3 class="text-start">Форма добавления комментария:</h3></b>
    <br>
    <br>
    <form method="post">
        <input placeholder="Автор" type="text" class="form-control" name="name" id="name">
        <input style="display:none;" value="{{ post.id }}" placeholder="ID поста" type="text" class="form-control" name="pid" id="pid">
        <br>
        <input placeholder="Пароль" type="text" class="form-control" name="key" id="key">
        <br>
        <textarea placeholder="Комментарий" rows="5" class="form-control" name="text" id="text"></textarea>
        <br>
        <button class="btn btn-success" type="submit">Опубликовать</button>
    </form>
{% endblock %}