{% extends 'base.html' %}

{% block title %}Редактирование комментария{% endblock %}

{% block body %}
    <b><h3 class="text-start">Форма измерения комментария:</h3></b>
    <br>
    <form method="post">
        <input style="display:none;" value="2" placeholder="-" type="text" class="form-control" name="type" id="type">
        <br>
        <textarea placeholder="Комментарий" rows="5" class="form-control" name="text" id="text">{{ com.text }}</textarea>
        <br>
        <button class="btn btn-success" type="submit">Сохранить</button>
        <br>
    </form>
    <br>
    <br>
    <a class="btn btn-success" href="/posts/{{ com.pid }}/comments/{{ com.id }}/del">Удалить</a>
{% endblock %}