{% extends 'base.html' %}

{% block title %}Добавление комментария{% endblock %}

{% block body %}
    <b><h3 class="text-start">Форма добавления комментария:</h3></b>
    <p class="text-start">Комментировать посты нельзя, если у вас нет аккаунта</p>
    <br>
    <br>
    <form method="post">
        <input placeholder="Имя пользователя" type="text" class="form-control" name="name" id="name">
        <br>
        <input placeholder="Пароль" type="password" class="form-control" name="key" id="key">
        <br>
        <textarea placeholder="Комментарий" rows="5" class="form-control" name="text" id="text"></textarea>
        <br>
        <button class="btn btn-success" type="submit">Опубликовать</button>
    </form>
{% endblock %}