{% extends 'base.html' %}

{% block title %}О разработчике{% endblock %}

{% block body %}
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal text-body-emphasis">О разработчике</h1>
    <br>
    <p style="font-size:20px;font-family:Calibri;" class="text-start">
        Привет! Я - главный, всёделающий, единственный и неповторимый разработчик Postirony! 
        <br>
        <br>
        Меня зовут Юрченко Александр Александрович, мне 15 лет, я из Белгорода (Белгородская обл. , Россия). Это мой первый сайт который я делаю в своей жизни, поэтому буду рад обратной связи, предложениям, жалобам и т.д.
        <br>
        <br>
        Обо всём можно писать на специальную эл. почту: postirony31@gmail.com
        <br>
        <br>
        Желаю удачного пользования сайтом!
        <br>
        <br>
        PS: Буду рад денежной <a href="/help">помощи</a>. 😃
    </p>
</div>
{% endblock %}