{% extends 'base.html' %}

{% block title %}Главная страница{% endblock %}

{% block body %}
<style>
  .img-avatar {
    width: 50px; /* Задайте нужную ширину */
    height: 50px; /* Задайте нужную высоту */
    object-fit: cover; /* Обрезать изображение до заданных размеров */
    object-position: center; /* Укажите центральное положение для обрезки */
  }    
  .avatar-container {
    margin: 7px; /* Измените значение по вашему усмотрению */
  }    
  a {
    text-decoration: none; /* Убираем подчеркивание у ссылки */
  }

  a:hover {
      text-decoration: underline; /* Добавляем подчеркивание при наведении курсора */
  }
</style>
<main>
  <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal text-body-emphasis">Postirony</h1>
    <p class="fs-5 text-body-secondary">Платформа свободного текста.<b>|</b></p>
  </div>
  <br>
  <br>
  <h3 class="text-start">Недавние посты:</h3>
  <br>
  {% if data|length > 0 %}
    {% for i in data[:10] %}
      <div class="card mb-4 rounded-3 shadow-sm img-responsive">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">
            <div class="col-auto d-none d-lg-block avatar-container">
              {% if i.avatar %}
                <img src="{{ i.avatar }}" alt="Аватар пользователя" class="img-fluid rounded-circle img-avatar"><a style="margin: 7px;" href="/user/{{ i.author }}">{{ i.author }}</a>
              {% else %}
                <img src="https://avatars.mds.yandex.net/i?id=3f773bb5936b4e3ceeb725ebe07cd6dbf779997d-10961631-images-thumbs&n=13" alt="Аватар пользователя" class="img-fluid rounded-circle img-avatar"><a style="margin: 7px;" href="/user/{{ i.author }}">{{ i.author }}</a>
              {% endif %}
            </div>
          </h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">{{ i.title }}</h1>
          <img class="img-fluid" src="{{ i.img }}">
          <ul class="list-unstyled mt-3 mb-4">
            <br>
            <li style="font-size: 20px;">{{ i.pretext }}</li>
          </ul>
          <a href="/posts/{{ i.id }}" class="btn btn-warning">Посмотреть пост</a>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <h6 class="text-start">Ни одного поста ещё нет!</h6>
  {% endif %}
  {% if data|length > 0 %}
    <a href="/all">Показать все</a>
  {% endif %}
</main>
{% endblock %}