{% extends 'base.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
<style>
    .img-avatar {
      width: 30px; /* Задайте нужную ширину */
      height: 30px; /* Задайте нужную высоту */
      object-fit: cover; /* Обрезать изображение до заданных размеров */
      object-position: center; /* Укажите центральное положение для обрезки */
    }    
    .avatar-container {
      margin: 5px; /* Измените значение по вашему усмотрению */
    }    
    a {
        text-decoration: none; /* Убираем подчеркивание у ссылки */
      }
    
      a:hover {
          text-decoration: underline; /* Добавляем подчеркивание при наведении курсора */
      }
</style>
<div class="pricing-header p-3 pb-md-4 mx-auto text-start">
    <h6 class="my-0 fw-normal">
        <div class="col-auto d-none d-lg-block avatar-container">
          {% if post.avatar %}
            <div style="display: flex; align-items: center;">
                <img src="{{ post.avatar }}" alt="Аватар пользователя" class="img-fluid rounded-circle img-avatar" style="margin-right: 10px;">
                <a style="margin: 7px;" href="/user/{{ post.author }}">{{ post.author }}</a>
            </div>        
          {% else %}
            <div style="display: flex; align-items: center;">
                <img src="https://avatars.mds.yandex.net/i?id=3f773bb5936b4e3ceeb725ebe07cd6dbf779997d-10961631-images-thumbs&n=13" alt="Аватар пользователя" class="img-fluid rounded-circle img-avatar" style="margin-right: 10px;">
                <a style="margin: 7px;" href="/user/{{ post.author }}">{{ post.author }}</a>
            </div>        
          {% endif %}
        </div>
    </h6>
    <br>
    <h1 class="text-center fw-normal text-body-emphasis">{{ post.title }}</h1>
    <br>
    <pre class="text-start" style="font-family:Calibri;white-space:pre-wrap;font-size:20px;">{{ post.pretext }}</pre>
    <br>
    <img class="img-fluid" src="{{ post.img }}">
    <br>
    <br>
    <br>
    <hr>
    <br>
    <pre class="text-start" style="font-family:Calibri;white-space:pre-wrap;font-size:20px;">{{ post.text }}</pre>
    <br>
    <div style="display: flex; align-items: center;">
        <b><h1 class="text-start" style="margin-right: 10px;">Комментарии:</h1></b>
        <div class="container">
            <div class="d-flex justify-content-end mt-3">
                <a class="btn btn-warning" href="/posts/{{ post.id }}/comment">Комментировать пост</a>
            </div>
        </div>
    </div>
    <br>
    <br>
    {% if comment|length > 0 %}
        {% for i in comment %}
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li class="text-start"><h4><b><a style="color: black;" href="/user/{{ i.name }}">{{ i.name }}</a></b></h4></li>
                        <br>
                        <li class="text-start">{{ i.text }}</li>
                        <br>
                        <li class="d-flex justify-content-end mt-3"><a href="/posts/{{ post.id }}/comments/{{ i.id }}/cedit">Редактировать</a></li>
                    </ul>
                </div>
            </div>
            <br>
        {% endfor %}
    {% else %}
        <p class="text-start">Комментариев пока нет!</p>
    {% endif %}
</div>
{% endblock %}