{% extends 'base.html' %}

{% block title %}Руководство пользователя{% endblock %}

{% block body %}
<h1><b>Создание статей</b></h1>
<p>
    Что бы создать статью нажмите на ссылку на шапке сайта Создать пост. Вы попадёте на форму создания статьи  
    где будут отображаться поля для ввода данных. Давайте рассмотрим, что требуют эти поля.
</p>  
<br>
<h3>Заголовок</h3>
<p>
    Заголовок статьи отображается на обложке статьи и в самой статье (Заполнить обязательно) !  
</p>
<br>
<h3>Интротекст</h3> 
<p>
    Интротекст отображается на обложке статьи и в самой статье как и заголовок. Вы можете изложить в нём  
    вкратце, что хотите рассказать в вашей статье. Обязателен к заполнению. 
</p> 
<br>
<h3>Автор статьи</h3>  
<p>
    Имя автора статьи отображается на обложке статьи и в самой статье. Может иметь только английские буквы и  
    цифры без пробелов. Обязателен к заполнению.  
</p>
<br>
<h3>Ссылка на изображение</h3>
<p>
    Вы можете добавить ссылку на изображение к вашей статье. Для этого укажите ссылку из интернета на  
    изображение которое вам нужно. Его добавлять не обязательно, но статья будет выглядеть хуже.  
</p>
<br>
<h3>Ключ безопасности</h3>
<p>
    С помощью ключа вы будете иметь доступ к редактированию статьи и её удалению. Ключ может иметь только  
    английские буквы и цифры без пробелов. Никому его не сообщайте.  
</p>
<br>
<h3>Текст поста  </h3>
<p>
    В этом поле вы заполняете текст самой статьи, который может содержать какие угодно символы и даже  
    смайлики. 
</p> 
<br>
<h1><b>Удаление и редактирование статей</b></h1>
<p>Статьи можно редактировать и удалять.  </p>
<br>
<h3>Удаление и редактирование</h3>  
<p>
    Чтобы удалить статью вы можете перейти к самой статье и после её конца, перед комментариями будет ссылка  
    на редактирование. При нажатие вас перенаправят на форму подтверждения авторства. Вам нужно будет ввести  
    ключ безопасности который вы указывали при создании. Если ключ верный вы попадаете на форму  
    редактирования где статью можно отредактировать и сохранить изменения или удалить.  
</p>
<br>
<h1><b>Комментирование статей</b></h1>
<p>
    Статьи на сайте можно комментировать. Для этого просто перейдите на статью которую хотите комментировать,  
    спуститесь в её конец и нажмите на кнопку комментирования. И по принципу создания статей комментируйте!
</p>
{% endblock %}